/* Estilos generales del navbar */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #111111;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
}

/* Logo centrado */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-navbar {
    height: 50px;
    width: auto;
}

/* Botón hamburguesa */
.menu-toggle {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 16px;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1002;
}

.menu-toggle span {
    width: 100%;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

.menu-toggle:hover span {
    background: rgb(177, 177, 177);
}

.menu-toggle:hover span:first-child,
.menu-toggle:hover span:last-child {
    width: 60%;
}

/* Menú desplegable */
.nav-links {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    background: #fff;
    padding-top: 0;  /* para que no quede detrás del navbar */
    padding-left: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 999; /* Asegura que quede arriba de todo */
}
.nav-links.active {
    display: flex;
}


.nav-links li {
    list-style: none;
    margin: 20px 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
}

/* Mostrar menú con clase activa */
.nav-open .nav-links {
    left: 0;
}

/* Overlay oscuro */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.nav-open .overlay {
    opacity: 1;
    pointer-events: auto;
}

.menu-toggle.hidden {
    display: none;
}